*{
margin: 0;
padding: 0;
scroll-behavior: smooth;
font-family: 'poppins' sans-serif;

}

.top{
    padding-left: 70px;
}
/* navbar */
.nav-button-flex{
    gap: 20px;
}
/* Hero-section */
.hero-section h1{
    font-weight: bold;
    text-align: center;
}
.hero-section p{
    font-weight: bold;
    
}
.products-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.product-card .product-img{
    width: 250px;
    object-fit: cover;
}
.rating-wrapper{
    background-color: orange;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: centre;
    gap: 5px;
    color: white;
    border-radius: 10px;
}

.rating-wrapper .rating-img{
    width: 20px !important;
    height: 20px !important;
}

.goto-button{
    background-color: orange;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.goto-button .goto-img{
    width: 20px !important;
    height: 20px !important;
    object-fit: cover;
}
.product-card{
    padding: 0;
}
.lower-links{
    align-items: center;
    justify-content: space-around;
}

.footer{
    font-size: 14px;
    justify-content: space-between;
    list-style: none;
    color: #fff;
    background-color: black;
    padding-bottom: 30px;
    padding-right: 10px;
}


.big{
    font-weight: bold;
}
.icon{
    width: 20px;
    gap: 20px;
}
.right{
    text-align: center;
    color: gray;
}
@media screen and (max-width:700px){
     .footer{
        display: flex;
        flex-direction: column !important;
        padding-left: 10px;
    }
    
}