*{
    margin: 0;
    padding: 0;
    
}


/* Nav-bar */
.nav-button-flex{
    gap: 20px;
}

.top{
    padding-left: 70px;
}
/* Hero-section */

.About-us-section{
    gap: 30px;
}
.about-us{
    padding-left: 40px;
    width: 100%;
    
    padding-top: 40px;
    padding-right: 20px;
}
.img{
    height: 90%;
    width: 100%;
    padding-left: 70px;
    padding-right: 0 !important;
    
  
}

/* Founder */
.FRAME{
    width: 90%;
    justify-content: space-between;
    padding-left: 50px;
    
}
.fra{
    width: 50px;
    align-items: center;
}
 .reviewa{
    padding-top: 20px;
    height: 150px;
    width: 160px;
     align-items: center; 
    gap: 0px;
    padding-top: 20px;
     padding-left: 10px;
    padding-right: 10px; 
 }


.reviewa:hover{
    background: rgba(255, 0, 0, 0.677);
    transition: 0.3s;
}
.a-block{
    align-items: center;
    text-align: center;
    border: ridge;
}

.e-block{
    align-items: center;
    text-align: center;
     border: ridge;
}
.f-block{
    align-items: center;
    text-align: center;
     border: ridge;
}
.g-block{
    align-items: center;
    text-align: center;
     border: ridge;
}



.founder{
    
     height: 60%;
    width: 75%;
    padding-left: 50px;
    padding-top: 80px;
    
}
.fat{
    height: 60%;
    width: 75%;
}

.icon{
    width: 20px;
   
}
.icons{
    gap: 10px;
}
.spin{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 30px;
}
.part{
    justify-content: center;
    align-items: center;
   gap: 20px;
   padding-bottom: 20px;
}
.services{
    padding-bottom: 10px;
    justify-content: center;
   
}
.customer{
    align-items: center;
    text-align: center;
}
.free{
    align-items: center;
    text-align: center;
}
.money{
    align-items: center;
    text-align: center;
}
@media screen and (max-width:900px){
    .aboutt{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .about-us{
        width: 100%;

    }
    
    .img{
        width: 90%;
    }
    .founder{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
     
    }
    .part{
        display: flex;
        flex-direction: column;
    }
    .FRAME{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
 
}
@media screen and (max-wdth:560px){
     .aboutt{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
        justify-content: center;
    }
    .about-us{
        width: 250% !important;
    }
    .founder{
        align-items: center;
        width: 40%;
    }
  
   
}
@media screen and (max-width:320px){
    .founder{
        align-items: center;
       
    }
}
@media screen and (max-width:700px){
     .footer{
        display: flex;
        flex-direction: column !important;
        padding-left: 10px;
    }
    
    
}
.footer{
    font-size: 14px;
    justify-content: space-between;
    list-style: none;
    color: #fff;
    background-color: black;
    padding-bottom: 30px;
    padding-right: 10px;
}


.big{
    font-weight: bold;
}
.icon{
    width: 20px;
    gap: 20px;
}
.right{
    text-align: center;
    color: gray;
}
